.custom-tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    z-index: 100;
    min-width: 200px; /* Adjust this value as needed */
    text-align: center; /* Optional: This centers the text inside the tooltip */
  }
  
  
  
  .btn2:hover {
    background-color: white !important;
  }
  
  .checkbox-primary {
    accent-color: #203b4f;
    height: 50px;
    width: 50px;
  }
  
  .gaugeText {
    font-size: 0.7em;
  }
  
  .gauge-scale {
    transform-origin: center;
    transform: scale(1.5);
  }
  
  .meter {
    display: block;
    width: 100%;
    height: 100px;
    max-width: 350px;
    position: relative;
    cursor: pointer;
    overflow: visible;
  }
  
  .meter p {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #bfc4ca;
    font-size: 30px;
    letter-spacing: -1px;
    position: absolute;
    top: 43%;
    right: 0;
    left: 0;
    margin: auto;
  }
  
  .meter svg.skill {
    display: block;
    width: 100%;
    overflow: visible;
  }
  
  .meter svg.skill path {
    display: block;
    stroke-width: 20px;
    stroke-linejoin: miter;
    stroke-linecap: miter;
    fill: none;
  }
  
  .meter svg.skill circle.empty {
    stroke: #e8ecef;
    stroke-width: 20px;
    fill: none;
  }
  
  .meter svg.skill path.full {
    stroke: #ff5a5f;
    stroke-width: 21px;
    stroke-dasharray: 462;
    stroke-dashoffset: -462;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: stroke-width 150ms;
    transition: stroke-width 150ms;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .meter.colourChange svg.skill path.full {
    -webkit-transition: stroke 250ms;
    transition: stroke 250ms;
  }
  
  .meter svg.skill path.full:hover {
    stroke-width: 30px;
  }
  
  @-webkit-keyframes zoomit {
  
    15%,
    40%,
    75%,
    100% {
      -webkit-transform-origin: center center;
    }
  
    15% {
      -webkit-transform: scale(1.2, 1.1);
    }
  
    40% {
      -webkit-transform: scale(0.95, 0.95);
    }
  
    75% {
      -webkit-transform: scale(1.05, 1);
    }
  
    100% {
      -webkit-transform: scale(1, 1);
    }
  }
  
  @-moz-keyframes zoomit {
  
    15%,
    40%,
    75%,
    100% {
      -moz-transform-origin: center center;
    }
  
    15% {
      -moz-transform: scale(1.2, 1.1);
    }
  
    40% {
      -moz-transform: scale(0.95, 0.95);
    }
  
    75% {
      -moz-transform: scale(1.05, 1);
    }
  
    100% {
      -moz-transform: scale(1, 1);
    }
  }
  
  @keyframes zoomit {
  
    15%,
    40%,
    75%,
    100% {
      transform-origin: center center;
    }
  
    15% {
      transform: scale(1.2, 1.1);
    }
  
    40% {
      transform: scale(0.95, 0.95);
    }
  
    75% {
      transform: scale(1.05, 1);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  html {
    -webkit-text-size-adjust: 100%;
  }
  
  input.skillLevel {
    display: block;
    width: 100%;
    height: 10px;
    outline: 0;
    background: #eee;
    box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.1);
    margin: 20px 0 30px 0;
    -webkit-appearance: none;
  }
  
  input.skillLevel::-webkit-slider-thumb {
    border-radius: 50%;
    outline: 0;
    background-color: #bbb;
    border: none;
    box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.1);
    height: 44px;
    width: 44px;
    -webkit-appearance: none !important;
  }
  
  svg text {
    text-anchor: middle;
    fill: #bfc4ca;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: -1px;
  }
  
  .btn-check:checked+.btn,
  .btn.active,
  .btn:first-child:active,
  :not(.btn-check)+.btn:active {
    background-color: #ced037 !important;
    border-color: #ced037 !important;
    color: #203b4f !important;
  }
  
  .btn-check+.btn {
    color: #203b4f;
    background-color: #ffff;
  }
  
  .energieLabelBtns {
      --bs-btn-padding-x: 1.25rem;
      --bs-btn-padding-y: 0.8125rem;
      --bs-btn-font-family: ;
      --bs-btn-font-size: 1.0625rem;
      --bs-btn-font-weight: 600;
      --bs-btn-line-height: 1.6;
      --bs-btn-bg: transparent;
      --bs-btn-border-width: 1px;
      --bs-btn-border-color: transparent;
      --bs-btn-border-radius: 0.375rem;
      --bs-btn-hover-border-color: transparent;
      --bs-btn-box-shadow: 0 0;
      --bs-btn-disabled-opacity: 0.65;
      --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
      border-radius: var(--bs-btn-border-radius);
      box-shadow: var(--bs-btn-box-shadow);
      cursor: pointer;
      display: inline-block;
      font-family: var(--bs-btn-font-family);
      font-size: var(--bs-btn-font-size);
      font-weight: var(--bs-btn-font-weight);
      line-height: var(--bs-btn-line-height);
      padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
      text-align: center;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      vertical-align: middle;
  }
  
  .btn:hover {
    background-color: 00FFFFFF;
  }
  
  /* Default fill color */
  .risico-analyse-icons path {
    fill: white;
  }
  
  /* Change fill color when input is selected */
  .btn-check:checked+.btn-outline-primary svg path {
    fill: #203b4f;
  }
  
  .btn2:hover {
    background-color: white !important;
  }
  
  .btn3:focus,
  .btn3:hover,
  .btn3:active {
    background-color: #203b4f !important;
    color: white !important;
  }
  
  #PdfBtn:hover,
  #PdfBtn:focus {
    background-color: white !important;
    color: #203b4f !important;
  }
  
  .slecht {
    color: red;
  }
  
  .matig {
    color: orange
  }
  
  .goed {
    color: green
  }
  
  // Energielabel styling
  /* Energielabel kleuren */
  .color-a {
    color: #009239
  }
  
  .color-b {
    color: #00ac36
  }
  
  .color-c {
    color: #94bc03
  }
  
  .color-d {
    color: #fdec00
  }
  
  .color-e {
    color: #fc9900
  }
  
  .color-f {
    color: #ff5a01
  }
  
  .color-g {
    color: #f0181b
  }
  
  .bgcolor-a {
    background-color: #009239
  }
  
  .bgcolor-b {
    background-color: #00ac36
  }
  
  .bgcolor-c {
    background-color: #94bc03
  }
  
  .bgcolor-d {
    background-color: #fdec00
  }
  
  .bgcolor-e {
    background-color: #fc9900
  }
  
  .bgcolor-f {
    background-color: #ff5a01
  }
  
  .bgcolor-g {
    background-color: #f0181b
  }
  
  .color-light {
    color: #2e4e67;
  }
  
  .color-white {
    color: white;
  }
  
  .border-primary {
    border-color: #203b4f !important;
  }
  
  .border-secondary {
    border-color: #ced037 !important;
  }
  
  .border-light {
    border-color: #2e4e67 !important;
  }
  
  .border-width-2 {
    border-width: 2px !important;
  }
  
  .border {
    border-style: solid;
    border-width: 1px;
  }
  
  .border-left {
    border-left: 1px solid
  }
  
  .border-right {
    border-right: 1px solid
  }
  
  .border-top {
    border-top: 1px solid
  }
  
  .border-bottom {
    border-bottom: 1px solid
  }
  
  .button-size {
    width: 85px;
    height: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .text-center {
    text-align: center
  }
  
  .woonsituatie_table {
    width: 100%;
  }
  
  .woonsituatie_table td {
    width: 24%;
  }
  
  .investering_table {
    margin: 0 25 0 25;
    padding: 0 25 0 25;
  }
  
  .investering_table td {
    width: 50%
  }
  
  .tr_height {
    height: 40px;
    padding: 15px;
  }
  
  .tr-height-2 {
    height: 75px;
  
  }
  
  .border-radius {
    border-radius: 5px
  }
  
  .hp-5 {
    height: 5px;
  }
  
  .hp-10 {
    height: 10px;
  }
  
  .hp-15 {
    height: 15px;
  }
  
  .hp-20 {
    height: 20px;
  }
  
  .hp-25 {
    height: 25px;
  }
  
  .hp-30 {
    height: 30px;
  }
  
  .hp-35 {
    height: 35px;
  }
  
  .hp-40 {
    height: 40px;
  }
  
  .hp-45 {
    height: 45px;
  }
  
  .hp-50 {
    height: 50px;
  }
  
  .hp-55 {
    height: 55px;
  }
  
  .hp-60 {
    height: 60px;
  }
  
  .hp-65 {
    height: 65px;
  }
  
  .hp-70 {
    height: 70px;
  }
  
  .hp-75 {
    height: 75px;
  }
  
  .hp-80 {
    height: 80px;
  }
  
  .hp-85 {
    height: 85px;
  }
  
  .hp-90 {
    height: 90px;
  }
  
  .hp-95 {
    height: 95px;
  }
  
  .hp-100 {
    height: 100px;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .h-90 {
    height: 90%;
  }
  
  .h-80 {
    height: 80%;
  }
  
  .h-75 {
    height: 75%;
  }
  
  .h-70 {
    height: 70%;
  }
  
  .h-50 {
    height: 50%;
  }
  
  .h-30 {
    height: 30%;
  }
  
  .h-25 {
    height: 25%;
  }
  
  .h-15 {
    height: 15%;
  }
  
  .h-5 {
    height: 5%;
  }
  
  .w-100 {
    width: 100%
  }
  
  .w-90 {
    width: 90%
  }
  
  .w-85 {
    width: 85%
  }
  
  .w-80 {
    width: 80%
  }
  
  .w-75 {
    width: 75%
  }
  
  .w-70 {
    width: 70%
  }
  
  .w-65 {
    width: 65%
  }
  
  .w-60 {
    width: 60%
  }
  
  .w-55 {
    width: 55%
  }
  
  .w-50 {
    width: 50%
  }
  
  .w-32 {
    width: 32%
  }
  
  .w-30 {
    width: 30%
  }
  
  .w-25 {
    width: 25%
  }
  
  .w-20 {
    width: 20%
  }
  
  .w-16 {
    width: 16%
  }
  
  .w-15 {
    width: 15%;
  }
  
  .w-10 {
    width: 10%
  }
  
  .w-5 {
    width: 5%
  }
  
  .w-2 {
    width: 2%
  }
  
  .p-25 {
    padding: 25px;
  }
  
  .p-15 {
    padding: 15px;
  }
  
  .p-10 {
    padding: 10px;
  }
  
  .p-5 {
    padding: 5px
  }
  
  .p-3 {
    padding: 3px
  }
  
  .pr-15 {
    padding-right: 15px
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .pr-5 {
    padding-right: 5px;
  }
  
  .pb-40 {
    padding-bottom: 40px
  }
  
  .pb-10 {
    padding-bottom: 10px
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .px-5 {
    padding-top: 0;
    padding-left: 5px;
    padding-bottom: 0;
    padding-right: 5px;
  }
  
  .px-50 {
    padding-top: 0;
    padding-left: 50px;
    padding-bottom: 0;
    padding-right: 50px;
  }
  
  .mx-auto {
    margin: 0 auto 0 auto;
  }
  
  .my-auto {
    margin: auto 0 auto 0;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-fixed {
    table-layout: fixed;
    width: 100%;
    border-spacing: 6px 0px;
  }
  
  .energielabel-sq {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .triangle-down {
    margin: 0 auto 10px auto;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 17px solid;
    border-bottom: 0 solid transparent;
    padding-top: 0;
  }
  
  .logo-position {
    position: absolute;
    top: -1%;
    right: -15%;
    width: 100px;
    height: auto;
  }
  
  /* pdf style end */
  // Navbar styling
  .navigationSizing {
    width: 60px;
    height: 60px;
  }
  
  .navTitle {
    font-size: 10px;
  }
  
  .navBarTab {
    background: #F2F2F2;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  /* Default fill color */
  .risico-analyse-icons path {
    fill: white;
  }
  
  /* Change fill color when input is selected */
  .btn-check:checked+.btn-outline-primary svg path {
    fill: #203B4F;
  }
  
  .btn2:hover {
    background-color: white !important;
  }
  
  .btn3:focus {
    background-color: #203B4F !important;
    color: white !important;
  }
  
  .btnState {
    background-color: #203B4F !important;
    color: white !important;
  }
  
  #PdfBtn:hover,
  #PdfBtn:focus {
    background-color: white !important;
    color: #203B4F !important;
  }
  
  /* Navbar */
  .navigationSizing {
    width: 60px;
    height: 60px;
  }
  
  .navTitle {
    font-size: 10px;
  }
  
  .navBarTab {
    background: #F2F2F2;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  /* module 3 ratings */
  .rating_score>span {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    border: 2px solid #CED037;
    width: 20px;
    height: 20px;
  }
  
  .rating_score>.checked {
    background-color: #CED037
  }
  
  // .triangle::after {
  //   content: '';
  //   width: 0;
  //   height: 0;
  //   border-left: 10px solid transparent;
  //   border-right: 10px solid transparent;
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  
  // .triangle-green::after {
  //   border-top: 10px solid #009239;
  // }
  
  // .triangle-green-light::after {
  //   border-top: 10px solid #00ac36;
  // }
  
  // .triangle-yellow::after {
  //   border-top: 10px solid #94bc03;
  // }
  
  // .triangle-light-yellow::after {
  //   border-top: 10px solid #fdec00;
  // }
  
  // .triangle-orange::after {
  //   border-top: 10px solid #fc9900;
  // }
  
  // .triangle-orange-dark::after {
  //   border-top: 10px solid #ff5a01;
  // }
  
  // .triangle-red::after {
  //   border-top: 10px solid #f0181b;
  // }
  
   /* Energielabel kleuren */
   .color-a {
     color: #009239
   }
  
   .color-b {
     color: #00ac36
   }
  
   .color-c {
     color: #94bc03
   }
  
   .color-d {
     color: #fdec00
   }
  
   .color-e {
     color: #fc9900
   }
  
   .color-f {
     color: #ff5a01
   }
  
   .color-g {
     color: #f0181b
   }
  
   .bgcolor-a {
     background-color: #009239
   }
  
   .bgcolor-b {
     background-color: #00ac36
   }
  
   .bgcolor-c {
     background-color: #94bc03
   }
  
   .bgcolor-d {
     background-color: #fdec00
   }
  
   .bgcolor-e {
     background-color: #fc9900
   }
  
   .bgcolor-f {
     background-color: #ff5a01
   }
  
   .bgcolor-g {
     background-color: #f0181b
   }
  
   .color-light {
     color: #2e4e67;
   }
  
   .color-white {
     color: white;
   }
  
   .pb-40 {
     padding-bottom: 40px
   }
  
   .table-fixed {
     table-layout: fixed;
     width: 100%;
     border-spacing: 6px 0px;
     border-collapse: separate;
   }
  
   .energielabel-sq {
     width: 9%;
     height: 60px;
     text-align: center;
     vertical-align: middle;
     border-radius: 5px;
     font-size: 14px;
   }
  
   .triangle-down {
     margin: -2px auto 10px auto;
     width: 0;
     height: 0;
     border-left: 27px solid transparent;
     border-right: 27px solid transparent;
     border-top: 17px solid;
     border-bottom: 0 solid transparent;
     padding-top: 0;
   }
  
   body {
     padding-right: 0 !important
   }
  
  #overlay {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
  }