<!-- Modal -->
<div class="modal fade" id="modal-aantal-zonnepanelen" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center">
                <h2 class="modal-title m-4 fs-5 fw-bold" id="exampleModalLabel">
                    Hoeveel zonnepanelen heeft u al liggen?
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- .modal-body -->
            <div class="m-4">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" placeholder="" id="aantal-zonnepanelen" type="number" name="aantal_zonnepanelen" min="0">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hidden>
                    Sluiten
                </button>
                <button id="aantalZonnepanelenOpslaan" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Opslaan
                </button>
            </div>
        </div>
        <!-- .modal-dialog -->
    </div>
    <!-- .modal-content -->
</div>
<!-- .modal fade -->